* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 200;
    letter-spacing: 1px;
    background: $yellow;
    font-family: 'Montserrat', sans-serif;
}

.clearfix:after {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}


