* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: 200;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    background-color: $yellow;
    background-image: url(../img/texture1.png);
}



