//colors
$white: #fff;
$yellow: #F3C12E;
$red:#d75964ff;
$white_header: rgba(255, 255, 255, 0.9);

//breakpoints
$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

