#content {
 
  text-align: center;
 
  p{
      padding: 10%;
  } 
}

.aboutme_section_title, .skills_section_title, .projects_section_title, .contact_section_title{
  background-image: url(../img/texture1.png);
  background-color: $white;
  padding: 140px 0 200px;
  position: relative;
  
}

.about_title, .about_title2, .skills_title, .skills_title2, .projects_title, .projects_title2, .contact_title, .contact_title2{
  font-family: 'Lalezar', cursive;
  font-size: 5.3rem;
  float: left;
  padding: 25px;
  letter-spacing: 5px;
  line-height: 72%;
  text-transform: uppercase;
  padding: 6%;
  padding-top: 24px;
}

.about_title2, .skills_title2, .projects_title2, .contact_title2{
  margin-left: -26.6%;
  padding-top: 6%;
}

.skills_title2{
  margin-left: -19%;
}

.design_info_img{
  width: 17%;
  margin-top: 4%;
  margin-left: -1%;
}

.web_info_img{
  width: 17%;
  margin-left: 7%;
}

.soft_info_img{
  width: 17%;
  margin-left: 6%;
}

.projects_title2{
  margin-left: -21%;
}

.contact_title2{
  margin-left: -23%;
}
.aboutme_content{
  padding: 50px 0 80px;
  position: relative;
  background-color: $red;
  background-image: url(../img/texture1.png);
}

.skills_content{
  background-color: $yellow;
  background-image: url(../img/texture1.png);
  padding: 0px 0 0px;
  position: relative;
}
.projects_content{
  background-color: #0D1321;
  background-image: url(../img/texture1.png);
  padding: 140px 0 200px;
  position: relative;
}
.contact_content{
  background-color: $red;
  background-image: url(../img/texture1.png);
  padding: 140px 0 200px;
  position: relative;
}

.aboutme_text_section{
  color: $white;
  padding: 3%;
  font-family: 'Montserrat', sans-serif;
  padding: -1 0 30px 0;
}

.about_text_title{
  font-family: "Muli", sans-serif;
  margin: 3rem;
  font-size: 1.6rem;
  padding: -1 0 30px 0;
  color: black;

}
strong{
  color: black;
}

.text_skills{
  color: $white;
}

h4{
  color: $white;
}
.p_about{
  margin-left: 49px;
  color: black;
}
.projects_images{
  margin-left: -53px;
}

.skills_content{
  margin-bottom: 3%;
}

.email_address{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.email_text{
  margin-left: 21%;
}

.email_text{
  font-size: 25px;
}

.github_contact, .linkedin_contact{
  width: 5%;
  margin-top: 3%;
}

.github_contact{
  margin-left: 2%;
}

.linkedin_contact{
  margin-left: 43%;
}

.contact_info{
  padding: 0%;
  margin: -21px;
}

























